{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Impressum" %}</h2>

<p>
Aikido Dojo Seishinkan e. V.<br/>
Wandsbeker Chaussee 62 a<br/>
22089 Hamburg<br/>
Telefon: +49 (0)178-209-25-80<br/>
Internet: www.aikido-dojo-seishinkan.de
</p>

<h5>Vertretungsberechtigter Vorstand: </h5>
<ul class="event">
<li>Eckhardt Hemkemeier (Vorsitzender)</li>
<li>Matthias Schwing</li>
</ul>

<h5>Registergericht:</h5>
<ul class="event">
<li>Amtsgericht Hamburg</li>
<li>Registernummer: VR 16480</li>
</ul>

<h5>Inhaltlich Verantwortlicher gemäß § 6 MDStV:</h5>
<ul class="event">
<li>Bert Alpen</li>
</ul>

<h5>Deutsche Texte</h5>
<ul class="event">
<li>Eckhardt Hemkemeier</li>
<li>Bert Alpen</li>
</ul>

<h5>Englische Übersetzung</h5>
<ul class="event">
<li>Dirk Schmeller</li>
<li>Jørgen W. Lang</li>
</ul>

<h5>Japanische Übersetzung</h5>
<ul class="event">
<li>Miho Tsurusaki</li>
<li>Keiko Kuida</li>
</ul>

{% endblock %}
