{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Info" %}</h2>

{% comment %}
<p>
  Das Layout der Seite basiert auf dem freien Webdesign
  "<a href="http://themes.wordpress.net/columns/2-columns/93/almost-spring-10/" target="_blank">Almost Spring</a>"
  von <a href="http://beccary.com/" target="_blank">Becca Wei</a>.
</p>
{% endcomment %}

<ul class="event">

<li>
Das Aikido Dojo Seishinkan benutzt und empfiehlt die folgenden <a href="http://de.wikipedia.org/wiki/Open_Source">Open-Source</a> Projekte:

  <p>
    <a href="http://www.ubuntu.com/" target="_blank">
      <img src="/static/images/UbuntuStrapLogo.png"
           border="0" alt="[ubuntu]"
           title="ubuntu - linux for human beings" /></a>
  </p>
  <p>
    <a href="http://www.spreadfirefox.com/node&id=0&t=315" target="_blank"><img border="0" alt="Firefox 3" title="Firefox 3" src="http://sfx-images.mozilla.org/affiliates/Buttons/firefox3/FF3_88x31_g.png"/></a>
  </p>
</li>

<li>
  {% trans "Technische Informationen zur Webseite" %}:

  <p>
    <a href="http://www.djangoproject.com/documentation/" target="_blank">Django</a> {{ django_version }}<br/>
    <a href="http://www.python.org/" target="_blank">Python</a> {{ python_version }}<br/>
    <a href="{{ db_link }}" target="_blank">{{ db_version }}</a><br/>
    <a href="http://www.ubuntu.com/" target="_blank">{{ os_version }}</a><br/>
  </p>

  <a href="http://www.djangoproject.com/" target="_blank">
    <img src="http://media.djangoproject.com/img/badges/djangopowered126x54.gif"
     border="0" alt="Powered by Django."
     title="Powered by Django." /></a>

  <a href="http://www.python.org/" target="_blank"><img src="/static/images/python-powered-w-100x40.png" alt="[python]" title="python" /></a>
    <a href="http://validator.w3.org/check?uri=http%3A%2F%2Faikido-dojo-seishinkan.de%2F&charset=(detect+automatically)&doctype=Inline&group=0" target="_blank">
       <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
</li>

</ul>
{% endblock %}
