{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h3>{%trans "Kontakt" %}</h3>

<br/>
<form id="kontakt-form" method="post" action="">
  <table class="archiv white">
  {% for field in form %}
    <tr>
      <td class="white">{{ field.label_tag }}{% if field.field.required %} *{% endif %}</td>
      <td class="white">{{ field }}{% if field.errors %}<span class="small error">{{ field.errors }}</span>{% endif %}</td>
    </tr>
  {% endfor %}
    <tr>
      <td class="white"></td>
      <td class="white">
        {% autoescape off %}<div class="g-recaptcha" data-sitekey="6LdkkeYSAAAAAHI5p0RZjMpNeXhehC37RaC8RkpF"></div>{% endautoescape %}
        {% if captcha_error %}<br/><span class="small error"><ul class="errorlist"><li>{% trans "Falsche Eingabe" %}</li></ul></span>{% endif %}
      </td>
    </tr>
  </table>

  <br/>

  <br/>
  <p><input id="kontakt-button" type="submit" value="{% trans "Nachricht absenden" %}" /></p>
</form>

<br/>
<p class="postmeta">* {% trans "erforderliche Angaben" %}</p>
{% endblock %}
