{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h2></h2>

<h2>{% trans "Login" %}</h2>

<form id="login-form" method="post" action=".">
 <table class="">

  <colgroup>
    <col width="25%">
    <col width="*">
  </colgroup>

 {% for field in form %}
 {% if field.is_hidden %}
   {{ field }}
 {% else %}
   <tr>
     <td>{{ field.label_tag }}:</td>
     <td>{{ field }}{% if field.errors %}<span class="error">{{ field.errors }}</span>{% endif %}</td>
   </tr>
 {% endif %}
 {% endfor %}

  <tr>
   <td></td>
   <td><input type="submit" id="login-button" value="{% trans "Login" %}" /></td>
  </tr>

 </table>
 <input type="hidden" name="next" value="{{ next }}" />
 <input type="hidden" name="language" value="{{ language }}" />

</form>

{% if form.errors %}
<p class="error">{% trans "Falscher Benutzername oder Passwort." %}</p>
{% endif %}

{% endblock %}
